.navigator {
  width: 90%;
  max-width: 35em;
}

.navigator-container {
  width: 100%;
  box-shadow: -2px 8px 9px 0px #e8e8e8;
  padding-bottom: 1em;
}

.keyword-search {
  margin-top: 1rem;
}
.category-dropdown {
  button {
    color: #727a82;
    background-color: white;
    border-color: #ced4da;
  }
  button:hover {
    color: #727a82;
    background-color: white;
    border-color: #ced4da;
  }
  button:focus {
    color: #727a82;
    background-color: white;
    border-color: #ced4da;
    box-shadow: none;
  }
  .btn-success:not(:disabled):not(.disabled).active:focus,
  .btn-success:not(:disabled):not(.disabled):active:focus,
  .show > .btn-success.dropdown-toggle:focus {
    box-shadow: none;
  }

  .btn-success:not(:disabled):not(.disabled).active,
  .btn-success:not(:disabled):not(.disabled):active,
  .show > .btn-success.dropdown-toggle {
    color: #727a82;
    background-color: #e8e8e8;
    border-color: #ced4da;
  }

  .btn-success.dropdown-toggle:focus {
    box-shadow: none;
  }
}

button {
  margin-top: 1rem;
  width: 100%;
  margin-bottom: 1rem;
}

