.pagination-controller {
  width: 100%;
  height: 3em;
  display: flex;
  background-color: #292929;
  padding: 10px;
  justify-content: center;
  color: white;
  box-shadow: 1px 18px 13px 0px #bdbdbd9e;
  i {
    font-size: 25px;
    cursor: pointer;
  }
}
.pagination-numbers {
  display: flex;
  justify-content: space-around;
  margin-left: 10px;
  width: 65%;
  max-width: 14em;
  margin-right: 10px;
}
.pagination-number {
  cursor: pointer;
  color: white;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  h3 {
    font-size: 20px;
    margin: 0;
  }
}
