.result {
  width: 90%;
  max-width: 25em;
  float: left;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 1em;
  border-radius: 3px;
  padding: 1em;
  box-shadow: 1px 3px 11px 4px #e0e0e0;
  padding-bottom: 1em;
}
.image-preview {
  width: 15em;
  height: 115px;
  margin-right: 1em;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 1em;
  cursor: pointer;
}

.image-saved {
  color: white;
  background-color: #5663ffe6;
  text-align: center;
  margin-top: 92px;
}

.results-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
  min-width: 20em;
  margin: 0;
  overflow: scroll;
  height: 60vh;
  overflow-x: hidden;
  padding-top: 2em;
  padding-bottom: 2em;
}

.tags {
  width: 30%;
}

.tag {
  background-color: #01af87;
  color: white;
  font-size: 9px;
  font-weight: bold;
  border-radius: 3px;
  margin: 5px;
  float: left;
  text-align: center;
  padding: 5px;
  padding-left: 10px;
  box-sizing: border-box;
  padding-right: 10px;
}
